
body {
	height: 100%;
	margin: 0;
}

.searchBar {
	width: 100%;
	height: 30px;
}


.listView {
	position: absolute;
	width: 15%;
	float: left;	
	height: 250px;
	z-index: 3;
	overflow: auto;
	background: white;
}

#map {
	width: 100%;
	float: right;
	height: 100vh;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	font-size: 14;
	margin-left: 0;
	padding-top: 10px;
}

.content {
	max-width: 300px
}

h1 {
	text-align: center;
	font-size: 17px;
}

.yelpImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 500px) {

  .listView {
  	width: 20%;
  	height: 250px;
  }

  li{
  	font-size: 16;
  }

  .searchBar {
  	height: 50px;
  	font-size: 18;
  }
 
}